---
import IconGithub from "../assets/icons/brand-github.svg";
import IconDiscord from "../assets/icons/brand-discord.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a
    href="https://github.com/TimWitzdam/shaare.it"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="github"
  >
    <IconGithub class="socials" />
  </a>
  <a
    href="https://discord.gg/xAT2sF4Q4W"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="discord"
  >
    <IconDiscord class="socials" />
  </a>
</div>
