---
import IconGithub from "../assets/icons/brand-github.svg";
import IconYoutube from "../assets/icons/brand-youtube.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
import IconDiscord from "../assets/icons/brand-discord.svg";
import IconTwitter from "../assets/icons/brand-x.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a
    href="https://github.com/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="github"
  >
    <IconGithub class="socials" />
  </a>
  <a
    href="https://youtube.com/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="youtube"
  >
    <IconYoutube class="socials" />
  </a>
  <a
    href="https://in.linkedin.com"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="linkedin"
  >
    <IconLinkedin class="socials" />
  </a>
  <a
    href="https://discord.com"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="discord"
  >
    <IconDiscord class="socials" />
  </a>
  <a
    href="https://twitter.com"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="twitter"
  >
    <IconTwitter class="socials" />
  </a>
</div>
